fastapi
uvicorn[standard]
qdrant-client
python-dotenv
fastembed
pypdf
python-multipart
python-docx

fastapi
uvicorn[standard]
python-multipart
qdrant-client
fastembed
groq
pypdf
python-docx
requests
beautifulsoup4
python-dotenv

qdrant-client
fastembed

groq

pypdf
python-docx

requests
beautifulsoup4

python-dotenv